<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">
<head>
    <title>Add Branch</title>
</head>
<body>
<div layout:fragment="content" class="container">

<div class="container my-5">
    <h3> Add Branch</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/branches/add}" th:object="${branch}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="uniqueName" class="col-form-label">Name</label>
                            <input type="text" th:field="*{uniqueName}" class="form-control" id="uniqueName" placeholder="Name">
                            <span th:if="${#fields.hasErrors('uniqueName')}" th:errors="*{uniqueName}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="email" class="col-form-label">Email</label>
                            <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email">
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="address" class="col-form-label">Address</label>
                            <input type="text" th:field="*{address}" class="form-control" id="address" placeholder="Address">
                            <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="telephoneNumber" class="col-form-label">Phone No</label>
                            <input type="text" th:field="*{telephoneNumber}" class="form-control" id="telephoneNumber" placeholder="PhoneNo">
                            <span th:if="${#fields.hasErrors('telephoneNumber')}" th:errors="*{telephoneNumber}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="branchManager" class="col-form-label">Branch Manager</label>
                            <select class="form-control" th:field="*{branchManager}" id="branchManager">
                                <option value="0">Select Branch Manager</option>
                                <option th:each="b : ${branchManagerList}" th:value="${b.id}" th:text="${b.employee.name}"></option>
                            </select>
                        </div>

                        <div class="form-group col-md-8">
                            <label class="col-form-label">The current date will be set as the Branch Manager Start Date</label>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value="Add Branch">
                        </div>

                        <div class="form-group col-md-8"></div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>