<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">
<head>
    <title>Branch Manager Home</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <div th:switch="${branchManagers}" class="container my-5">
                    <p class="my-5">
                        <a href="/branchManagers/signup" class="btn btn-primary"><i
                                class="fas fa-user-plus ml-2"> Add Branch Managers</i></a>
                    </p>
                    <div class="col-md-10">
                        <h2 th:case="null">No Branch Managers yet!</h2>
                        <div th:case="*">
                            <table class="table table-striped table-responsive-md">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Manager Name</th>

                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="branchManager : ${branchManagers}">
                                    <td th:text="${branchManager.id}"></td>
                                    <td th:text="${branchManager.employee.name}"></td>

                                    <td><a th:href="@{/branchManagers/edit/{id}(id=${branchManager.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                    <td><a th:href="@{/branchManagers/delete/{id}(id=${branchManager.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>