<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}">
<head>
    <title>Spring Boot Thymeleaf + Spring Security</title>
</head>
<body>
<div layout:fragment="content" class="container">

    <div class="jumbotron">
        <h1>Manage your projects!</h1>
        <p>A powerful Project Management software, helps teams plan and execute projects that deliver results on time.</p>
    </div>
</div>
</body>
</html>